bert_score==0.3.13
datasets==3.5.0
evaluate==0.4.3
numpy==2.4.0
opacus==1.5.4
pandas==2.3.3
peft==0.15.2
scikit_learn==1.8.0
sentence_transformers==4.1.0
torch==2.7.0
tqdm==4.66.5
transformers==4.57.1
trl==0.25.1
